In [6]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import timedelta
import math

import utils

git_root_path = utils.get_git_root(os.getcwd())
viz_root_path = os.path.join(git_root_path, utils.VIZ_DIR_NAME)
data_path = os.path.join(git_root_path, utils.DATA_DIR_NAME)

metadata_csv_path = os.path.join(data_path, utils.METADATA_FILENAME + "." + utils.INPUT_DATA_FORMAT)

In [2]:
site = 1
period = 3

submit_csv_path = os.path.join(data_path, "submit", "{}.".format(site) + utils.INPUT_DATA_FORMAT)
submit_df = pd.read_csv(submit_csv_path, sep = ",")
submit_df["timestamp"] = pd.to_datetime(submit_df["timestamp"])

period_df = submit_df[submit_df["period_id"] == period]
period_df = period_df.sort_values("timestamp")
period_df = period_df.set_index("timestamp")

In [4]:
period_df[['load_00', 'pv_00', 'load_01', 'pv_01']].loc["2015-07-27 04:45:00"]

load_00    54964.050442
pv_00       8487.566389
load_01    54760.322340
pv_01       9291.345095
Name: 2015-07-27 04:45:00, dtype: float64

In [7]:
metadata = pd.read_csv(metadata_csv_path, sep=";", index_col = 0).sort_index()
metadata

,Battery_1_Capacity,Battery_1_Power,Battery_1_Charge_Efficiency,Battery_1_Discharge_Efficiency,Battery_2_Capacity,Battery_2_Power,Battery_2_Charge_Efficiency,Battery_2_Discharge_Efficiency
SiteId,,,,,,,,
1,300,75.0,0.95,0.95,600,150,0.95,0.95
2,600,150.0,0.95,0.95,1200,300,0.95,0.95
3,100,25.0,0.95,0.95,200,50,0.95,0.95
4,100,25.0,0.95,0.95,200,50,0.95,0.95
7,10,2.5,0.95,0.95,20,5,0.95,0.95
10,1500,375.0,0.95,0.95,3000,750,0.95,0.95
11,400,100.0,0.95,0.95,800,200,0.95,0.95
12,10,2.5,0.95,0.95,20,5,0.95,0.95
29,100,25.0,0.95,0.95,200,50,0.95,0.95
31,300,75.0,0.95,0.95,600,150,0.95,0.95
32,600,150.0,0.95,0.95,1200,300,0.95,0.95

In [8]:
[None] * 5

[None, None, None, None, None]