In [1]:
import os
import pandas as pd

import utils

In [2]:
git_root_path = utils.get_git_root(os.getcwd())
data_path = os.path.join(git_root_path, utils.DATA_DIR_NAME)

training_csv_path = os.path.join(data_path, utils.TRAINING_FILENAME + "." + utils.INPUT_DATA_FORMAT)
submit_csv_path = os.path.join(data_path, utils.SUBMIT_FILENAME + "." + utils.INPUT_DATA_FORMAT)
submission_format_csv_path = os.path.join(data_path, utils.SUBMISSION_FORMAT_FILENAME + "." + utils.INPUT_DATA_FORMAT)
metadata_csv_path = os.path.join(data_path, utils.METADATA_FILENAME + "." + utils.INPUT_DATA_FORMAT)

In [5]:
training_df = pd.read_csv(training_csv_path, sep = ";")
submission_df = pd.read_csv(submit_csv_path, sep=";")

In [4]:
training_df[["timestamp", "period_id", "site_id", "actual_consumption", "load_00", "actual_pv", "pv_00", "price_buy_01", "price_sell_01"]].head()

,timestamp,period_id,site_id,actual_consumption,load_00,actual_pv,pv_00,price_buy_01,price_sell_01
0,2015-09-17T03:15:00-06:00,3,31,55821.550991,62340.104069,12714.49325,13722.418347,0.191,0.0
1,2015-09-17T06:00:00-06:00,3,31,55480.393939,48723.958801,97015.21970,97383.148801,0.235,0.0
2,2015-09-17T08:30:00-06:00,3,31,52659.872581,57501.115062,91087.18725,89745.287377,0.235,0.0
3,2015-09-17T10:00:00-06:00,3,31,50495.589627,57674.278199,64155.46050,58246.948873,0.235,0.0
4,2015-09-17T10:15:00-06:00,3,31,49889.329643,55774.860158,57419.84095,50396.225995,0.235,0.0

In [6]:
submission_df[["timestamp", "period_id", "site_id", "actual_consumption", "load_00", "actual_pv", "pv_00", "price_buy_01", "price_sell_01"]].head()

,timestamp,period_id,site_id,actual_consumption,load_00,actual_pv,pv_00,price_buy_01,price_sell_01
0,2016-02-28T09:00:00-07:00,5,1,59307.649255,59466.610399,12217.267431,13879.055725,0.083,0.031
1,2016-02-28T10:15:00-07:00,5,1,59070.662124,58541.180600,525.294000,0.000000,0.153,0.031
2,2016-04-18T14:00:00-06:00,6,1,76325.012909,72835.407964,0.000000,0.000000,0.049,0.031
3,2016-04-18T15:15:00-06:00,6,1,60265.335608,58341.577551,0.000000,153.336452,0.049,0.031
4,2016-04-18T17:30:00-06:00,6,1,60066.160042,60799.868766,0.000000,0.000000,0.031,0.031

In [14]:
sorted(training_df["site_id"].unique())

[1, 2, 3, 4, 7, 10, 11, 12, 29, 31, 32]

In [19]:
metadata_df = pd.read_csv(metadata_csv_path, sep = ";")

In [20]:
metadata_df

,SiteId,Battery_1_Capacity,Battery_1_Power,Battery_1_Charge_Efficiency,Battery_1_Discharge_Efficiency,Battery_2_Capacity,Battery_2_Power,Battery_2_Charge_Efficiency,Battery_2_Discharge_Efficiency
0,4,100,25.0,0.95,0.95,200,50,0.95,0.95
1,12,10,2.5,0.95,0.95,20,5,0.95,0.95
2,1,300,75.0,0.95,0.95,600,150,0.95,0.95
3,3,100,25.0,0.95,0.95,200,50,0.95,0.95
4,2,600,150.0,0.95,0.95,1200,300,0.95,0.95
5,32,600,150.0,0.95,0.95,1200,300,0.95,0.95
6,29,100,25.0,0.95,0.95,200,50,0.95,0.95
7,10,1500,375.0,0.95,0.95,3000,750,0.95,0.95
8,7,10,2.5,0.95,0.95,20,5,0.95,0.95
9,11,400,100.0,0.95,0.95,800,200,0.95,0.95
10,31,300,75.0,0.95,0.95,600,150,0.95,0.95

In [ ]:
site_ids = sorted(submission_df["site_id"].unique())